* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(-236.85deg, #818274 40.26%, #BDE038 80.03%);
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    top: 50px;
}

.xicara {
    position: relative;
    width: 280px;
    height: 300px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    background: linear-gradient(to right, #F2F2F0, #D8D9D7)
}

.topo {
    position: absolute;
    width: 100%;
    height: 60px;
    top: -30px;
    left: 0;
    background: linear-gradient(to right, #F2F2F0, #D8D9D7);
    border-radius: 50%;
}

.circle {
    position: absolute;
    width: calc(100% - 20px);
    height: 50px;
    top: 5px;
    left: 10px;
    background: linear-gradient(to left,  #F2F2F0, #D8D9D7);
    border-radius: 50%;
    box-sizing: border-box;
}
.cha {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FF7C81, #F08D6D);
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
}

.handle {
    position: absolute;
    width: 160px;
    height: 180px;
    top: 40px;
    right: -70px;
    border: 25px solid  #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}

.prato {
    position: absolute;
    background: linear-gradient(to right,  #F2F2F0, #D8D9D7);
    width: 500px;
    height: 200px;
    left: 50%;
    bottom: -50px;
    border-radius: 50%;
    box-shadow: 0 35px 35px  rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
}

.plate::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left,  #F2F2F0, #D8D9D7);
}

.plater::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    left: 30px;
    bottom: 30px;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0,2) 25%, transparent, transparent);
}

.vapor {
    display: flex;
    position: relative;
    padding: 0 20px;
    z-index: 1;
}

.vapor span {
    display: block;
    position: relative;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    bottom: 50px;
    background-color: #F08D6D;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    50% {
    transform: translateY(-150px) scaleX(5);
    }

    95% {
        opacity: 0;
    }

    100% {
    transform: translateY(-300px) scaleX(10);
    }
}